    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU</li>
                <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                    <a href="@Url.Action("Dashboardv1", "Dashboard")">
                        <i class="fa fa-android"></i> <span>Início</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Dashboardv1")"><a href="@Url.Action("Dashboardv1", "Dashboard")"><i class=""></i> Dashboard</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Tarefas") treeview">
                    <a href="@Url.Action("Index", "Tarefas")">
                        <i class="fa fa-android"></i> <span>Tarefas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Tarefas")"><i class=""></i> Gerenciar Tarefas</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Financeiro") treeview">
                    <a href="@Url.Action("Index", "Financeiro")">
                        <i class="fa fa-android"></i> <span>Financeiro</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Financeiro")"><i class=""></i> Movimentações</a></li>
                    </ul>
                </li> 
                <li class="@Html.IsSelected(controller: "Eventos") treeview">
                    <a href="@Url.Action("Index", "Eventos")">
                        <i class="fa fa-android"></i> <span>Eventos</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Eventos")"><i class=""></i> Cadastro</a></li>
                    </ul>
                </li>                

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
